<!DOCTYPE html>
<html>

<head>
    <title>Search Usernames</title>
</head>

<body>
    <h1>Search Usernames</h1>
    <%- include("partials/errors.ejs") %>
        <form action="/search" method="post">
            <input type="text" name="search" placeholder="Enter username" required>
            <button type="submit">Search</button>
        </form>
</body>

</html>